<%- include('partials/header') %>

    <body>
        <top>
            <img src="../../../img/banners-ctr/<%= community.id %>.jpg" width="400px" height="168px" onerror="this.src='../../../img/banners-ctr/placeholder-ctr.jpg'">
            <div class="community_data">
                <img src="../../../img/icons/<%= community.id %>.jpg" onerror="this.src='../../../img/icons/placeholder.jpg'" height="42px">
                <span class="community_name">
                    <%= community.name %>
                </span>
            </div>
        </top>

        <long style="text-align: center; height: fit-content; top: 220px; padding-bottom: 50px;">
            <div class="community_navbar"></div>
            <div class="community_description"><span><%= community.description %></span></div>

            <div class="posts_wrapper">
                <% for (let i=0; i < posts.length; i++) {%>
                    <div class="post">
                        <div class="post_mii_wrapper">
                            <img src="<%= posts[i].mii_image %>" width="50px" height="50px" class="post_mii_image">
                            <div class="post_mii_name_wrapper">
                                <span class="post_mii_name"><%= posts[i].mii_name %></span>
                                <span class="post_mii_time"><%= moment(posts[i].create_time).fromNow() %></span>
                                <% if (posts[i].topic_tag) { %>
                                    <span class="post_topic_tag"><%= posts[i].topic_tag %></span>
                                <% } %>
                            </div>
                        </div>

                        <div class="post_body_wrapper">
                            <% if (posts[i].body) {%>
                                <span><%= posts[i].body %></span>
                            <%} else { %>
                                <img src="../../../img/paintings/<%= posts[i].id %>.png" width="318px">
                            <% } %>   
                        </div>
                    </div>
                <% } %>
            </div>

            <a href="javascript:void(0)" onclick="location.reload()">Reload</a>
        </long>
    </body>

    <script src="../../js/CTR/aquamarine.js"></script>