<% if (pjax != "on") {%>
    <%- include('./partials/header') %>

    <body>
<%} %>
        <top>
            <img src="../../../img/banners-ctr/<%= community.id %>.jpg" width="400px" height="168px" onerror="this.src='../../../img/banners-ctr/placeholder-ctr.jpg'">
            <div class="community_data">
                <img src="../../../img/icons/<%= community.id %>.jpg" onerror="this.src='../../../img/icons/placeholder.jpg'" height="42px" width="42px">
                <span class="community_name">
                    <%= community.name %>
                </span>
            </div>
        </top>

        <long style="text-align: center; height: fit-content; top: 220px; padding-bottom: 50px;">
            <div class="community_navbar"></div>
            <div class="community_description"><span><%= community.description %></span></div>

            <div class="post_options">
                <a id="post_button">Post</a><a id="yeahed_posts" href="javascript:void(0)" onclick="getPostsByYeahed(<%= community.id %>)">Yeahed Posts</a>
            </div>

            <div class="posts_wrapper">
                <% for (let i=0; i < posts.length; i++) {%>
                    <%- include("./partials/post.ejs", {
                        post : posts[i]
                    }) %>
                <% } %>
            </div>

            
            <img style="display: none;" id="loading" src="../../img/loading.gif" width="20px">
        </long>

        <script defer>
            $(window).on("scroll", function () {
                if ($(window).scrollTop() + window.innerHeight > $(document).height() - 50) {
                console.log("reached bottom!");
                grabMorePosts(<%= community.id %>);
            }
        });
        </script>

<% if (pjax != "on") {%>
    </body>
    <script src="../../../../js/CTR/aquamarine.js"></script>
<%} %>