
<%- include('partials/header') %>

<body>
    <top>
        <div class="communities_header_title_home">
            <span class="communities_header_title_text_home">Communities</span>
        </div>
    </top>

    <long style="text-align: center; height: 800px;">

        <div class="communities_wrapper_home">
            <div class="new_communities_home">New Communities</div>

            <div style="position: relative; width: 310px;">
                <% for (let i = 0; i < communities.length; i++) {
                    const community = communities[i];%>
                    <div class="community_home" href="communities/<%= community.id %>">
                        <a href="../communities/<%= community.id %>">
                            
                            <img class="community_icon_home" width="50px" src="../../img/icons/<%= community.id %>.jpg">
                            <div class="community_name_wrapper">
                                <span class="community_name_home"><%= community.name %> Community</span>
                                <span class="community_platform_indicator_home"><% if (community.platform == "3ds") {%>
                                    3DS Games
                                <%} else {%>
                                Wii U Games
                                <%} %></span>
                            </div>
                        
                        </a>
                        
                    </div>
                <%}%>
            </div>
        </div>
    </long>
</body>


<script id="disableBackButton" defer src="../../js/CTR/aquamarine.js"></script>
<script>cave.toolbar_setActiveButton(3);</script>