<% if (pjax != "on") {%>
    <%- include('./partials/header') %>
<%} %>
<body>
    <top>
        <div class="communities_header_title_home">
            <span class="communities_header_title_text_home">Communities</span>

            <div class="n3ds_header_icon"></div>
        </div>
    </top>

    <long style="text-align: center;">
        <div class="communities_wrapper_home">
            <div class="new_communities_home">New Communities</div>

            <ul>
                <% for (const community of new_communities) {%>
                    <li class="community_home" href="communities/<%= community.id %>">
                        <a href="javascript:void(0)" id="<%= community.id %>" onclick="loadCommunity(this)">
                            
                            <img class="community_icon_home" width="40px" src="../../img/icons/<%= community.id %>.jpg" onerror="this.src='../../img/icons/placeholder.jpg'">
                            <div class="community_name_wrapper">
                                <span class="community_name_home"><%= community.name %></span>
                            </div>
                        
                        </a>
                        
                    </li>
                <%}%>
            </ul>

            <div class="popular_communities_home">Popular Communities</div>

            <ul>
                <% for (const community of popular_communities) {%>
                    <li class="community_home" href="communities/<%= community.id %>">
                        <a href="javascript:void(0)" id="<%= community.id %>" onclick="loadCommunity(this)">
                            
                            <img class="community_icon_home" width="40px" src="../../img/icons/<%= community.id %>.jpg" onerror="this.src='../../img/icons/placeholder.jpg'">
                            <div class="community_name_wrapper">
                                <span class="community_name_home"><%= community.name %> Community</span>
                            </div>
                        
                        </a>
                        
                    </li>
                <%}%>
            </ul>
        </div>
    </long>
</body>

<% if (pjax != "on") {%>
    <script src="../../../../js/aquamarine.js"></script>
<%} %>
<script>cave.toolbar_setActiveButton(3); cave.toolbar_setMode(0);</script>